
// ////////////////////
// Login (start)
// ////////////////////

main {
    background-color: $white;
}

#bg {
    clip-path: circle(54.4% at 50% 0);
    margin-top: -6em;
    background-color: $main-color;
    width: 100%;
    height: 100%;
    max-height: 56em;
    position: absolute;
    z-index: -1;

}

.Intro {
    margin: auto;
    padding: 6em 3em 6em 3em;
    max-width: 30em;
    text-align: center;
    color: $white;
    background: url("/static/images/dotsbg.svg") no-repeat 90% 33% ;

    h1 {
        font-size: 2em;
        font-family: $main-font;
    }

    p {
        font-size: 1em;
        font-family: $main-font;

    }

}


#loginform {
    margin: auto;
    max-width: 40em;
    display: grid;
    padding: 0em 1em;
    border: none;
    font-family: $main-font;

    fieldset:first-of-type{
        display: grid;
        border: none;
        margin: auto;
        width: 100%;
        max-width: 28em;

        label{
            font-size: 1.5em;
            color: $font-color;
            font-weight: 600;
            margin-top: .5em;

            a{
                text-decoration: none;
                color: $input-border-color;
                text-align: right;
                font-size: 1em;
                display: block;
                margin-top: -0.5em;
                font-weight: 500;

                &:hover {
                    color: $main-color;
                }

            }
            
        }
        

        input {
            background-color: $input-bg-color;
            border-radius: .5em;
            padding: 1.5em 2em;
            margin: 1em 0em 1em 0em;
            font-family: $main-font;
            max-width: 28em;
            width: 100%;
            font-size: 1em;
            color: black;

            &::placeholder{
                color: $input-border-color;
                opacity: 1; 
                font-weight: 500;
            }
        }
    }

input:not(:placeholder-shown) {
    border: .2em solid $validate-color;

}

input:placeholder-shown {
    border: .2em solid $input-border-color;
}

    fieldset:last-of-type{
        display: grid;
        border: none;
        text-align: center;
        margin: auto;
        width: 100%;
        max-width: 28em;

        button {
            background-color: $main-color;
            border-radius: .5em;
            padding: 1em 2em;
            margin: 2em 0em 1em 0em;
            border: none;
            font-family: $main-font;
            max-width: 19em;
            width: 100%;
            font-size: 1.5em;
            color: $white;
            font-weight: 600;
            transition: .25s ease;
            cursor: pointer;


            &:hover{
                background-color: $btn-primary-hover;
                transition: .25s ease;
            }

        }

        label {
            color: $font-color;

            a{
                color: $main-color;
                
            }
        }

        }
}

// ////////////////////
// Login (end)
// ////////////////////