
.arrow {
    padding: 1.5em;
    width: 15em;
    // padding-top: 1em;
    // margin-top: 2em;
    // font-size: 1em;
    // font-family: $main-font;
    // color: $white;
    // z-index: -1;
    // display: inline;

    a {
        text-decoration: none;
        color: $white;
        font-family: $main-font;
        font-size: 1.5em;

        img {
            padding-right: .5em;
        }
    }
}


.Intro-signup {
    margin: auto;
    padding: 2em 3em 6em 3em;
    max-width: 30em;
    // white-space: nowrap;
    text-align: center;
    color: $white;
    // background-image: url(../images/dotsbg.svg);
    // background-repeat: no-repeat;
    // background-position: right 2em;

    // background: url("../images/dotsbg.svg") no-repeat 95% 50%;
    background: url("/static/images/dotsbg.svg") no-repeat 82% 11% ;
    // background-size: cover;

    h1 {
        font-size: 2em;
        font-family: $main-font;
    }

    p {
        font-size: 1em;
        font-family: $main-font;

    }

}

// #signupform button:last-of-type{
//     margin-bottom: 5em;
// }


#signupform {
    margin: auto;
    max-width: 40em;
    display: grid;
    // font-size: 4em;
    padding: 0em 1em;
    // padding: 8em 1em 0em;
    border: none;
    font-family: $main-font;

    fieldset:first-of-type{
        display: grid;
        border: none;
        margin: auto;
        // min-width: 28em;
        width: 100%;
        max-width: 28em;

        label{
            font-size: 1.5em;
            color: $font-color;
            font-weight: 600;
            margin-top: .5em;

            a{
                text-decoration: none;
                color: #B8C0D7;
                text-align: right;
                font-size: 1em;
                display: block;
                margin-top: -0.5em;
                font-weight: 500;

                &:hover {
                    color: $main-color;
                }

            }
            
        }
        

        input {
            background-color: #F4F6FC;
            border-radius: .5em;
            padding: 1.5em 2em;
            margin: 1em 0em 1em 0em;
            // border: none;
            font-family: $main-font;
            max-width: 28em;
            width: 100%;
            font-size: 1em;
            color: #B8C0D7;

            &::placeholder{
                color: #B8C0D7;
                opacity: 1; 
                font-weight: 500;
            }

            // &:focus {
            // border-color: red;
            // transition: .2s ease;
            // }
        
            // &:active {
            //     border-color: red;
            // }

            // &:focus {
            //     border-color: red;
            // }

            // &:focus {
            //     border-color: red;
            // }
        }
    }

input:not(:placeholder-shown) {
    // border-color: .2em solid lightgreen;
    // border: .12em solid lightgreen;
    border: .2em solid $main-color;

}

input:placeholder-shown {
    // border-color: solid red;
    // border: .12em solid red;
    border: .2em solid #B8C0D7;
}

    fieldset:last-of-type{
        display: grid;
        border: none;
        text-align: center;
        margin: auto;
        width: 100%;
        max-width: 28em;

        button {
            background-color: $main-color;
            border-radius: .5em;
            padding: 1em 2em;
            margin: 2em 0em 2em 0em;
            border: none;
            font-family: $main-font;
            max-width: 19em;
            width: 100%;
            font-size: 1.5em;
            color: $white;
            font-weight: 600;
            transition: .25s ease;
            cursor: pointer;


            &:hover{
                background-color: $btn-primary-hover;
                transition: .25s ease;
            }

        }

        label {
            color: $font-color;
            // padding-top: -3em;
            // display: inline;
            padding-left: 1em;

            a{
                color: $main-color;
                
            }
        }

    }
        
}

#terms {
    padding-top: 2em;
    padding-right: 1em;
    width: 2em;
    height: 2em;
    // display: inline-block;
    vertical-align: middle;
    position: relative;
}