<nav>
    <a href="#">
        <span class="active">
            <img src="/static/images/user-icon.svg" alt="user icon">
        </span>
    </a>

    <a href="#">
        <span class="bg-icons">
            <img src="/static/images/heart-icon.svg" alt="user icon">
        </span>
    </a>

    <a href="#">
        <span class="bg-icons">
            <img src="/static/images/heart-icon.svg" alt="user icon">
        </span>
    </a>

    <a href="#">
        <span class="bg-icons">
            <img src="/static/images/settings-icon.svg" alt="user icon">
        </span>
    </a>
</nav>