@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-image: linear-gradient(var(--brand-clr) 8em, transparent 8em);
}

html .body2 {
  background-image: linear-gradient(var(--dark-clr) 8em, transparent 8em);
}

section {
  max-width: 100%;
}

.start {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}
.start img {
  max-width: 100%;
  padding: 1em;
  width: 25em;
  margin: auto;
}
.start h1 {
  font-size: 2em;
}

.welcomescreen {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 1em;
  padding-top: 4em;
}
.welcomescreen h1 {
  text-align: center;
  color: #333334;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
}
.welcomescreen p {
  color: #333334;
  font-size: 1em;
  text-align: center;
}

.buttons-section {
  display: grid;
  text-align: center;
  align-items: center;
  padding-bottom: 1em;
}
.buttons-section .btn {
  color: white;
  font-size: 1.5em;
  font-weight: 600;
  padding: 1em 2em;
  text-decoration: none;
  width: 75%;
  max-width: 14em;
  background-color: darkgrey;
  margin: 1em auto 0 auto;
  border-radius: 0.5em;
  transition: 0.25s;
}
.buttons-section .btn-main {
  background-color: #6168F3;
}
.buttons-section .btn-main:hover {
  background-color: #2d328f;
  transition: 0.25s;
}
.buttons-section .btn-secondary {
  background-color: #ECF0FB;
  color: #333334;
}
.buttons-section .btn-secondary:hover {
  background-color: #828ba5;
  transition: 0.25s;
}

#bg {
  clip-path: circle(54.4% at 50% 0);
  margin-top: -6em;
  background-color: #6168F3;
  width: 100%;
  height: 100%;
  max-height: 56em;
  position: absolute;
  z-index: -1;
}

.Intro {
  margin: auto;
  padding: 6em 3em 6em 3em;
  max-width: 30em;
  text-align: center;
  color: white;
  background: url("/static/images/dotsbg.svg") no-repeat 90% 33%;
}
.Intro h1 {
  font-size: 2em;
  font-family: "Poppins", sans-serif;
}
.Intro p {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
}

#loginform {
  margin: auto;
  max-width: 40em;
  display: grid;
  padding: 0em 1em;
  border: none;
  font-family: "Poppins", sans-serif;
}
#loginform fieldset:first-of-type {
  display: grid;
  border: none;
  margin: auto;
  width: 100%;
  max-width: 28em;
}
#loginform fieldset:first-of-type label {
  font-size: 1.5em;
  color: #333334;
  font-weight: 600;
  margin-top: 0.5em;
}
#loginform fieldset:first-of-type label a {
  text-decoration: none;
  color: #B8C0D7;
  text-align: right;
  font-size: 1em;
  display: block;
  margin-top: -0.5em;
  font-weight: 500;
}
#loginform fieldset:first-of-type label a:hover {
  color: #6168F3;
}
#loginform fieldset:first-of-type input {
  background-color: #F4F6FC;
  border-radius: 0.5em;
  padding: 1.5em 2em;
  margin: 1em 0em 1em 0em;
  font-family: "Poppins", sans-serif;
  max-width: 28em;
  width: 100%;
  font-size: 1em;
  color: black;
}
#loginform fieldset:first-of-type input::placeholder {
  color: #B8C0D7;
  opacity: 1;
  font-weight: 500;
}
#loginform input:not(:placeholder-shown) {
  border: 0.2em solid #63d64c;
}
#loginform input:placeholder-shown {
  border: 0.2em solid #B8C0D7;
}
#loginform fieldset:last-of-type {
  display: grid;
  border: none;
  text-align: center;
  margin: auto;
  width: 100%;
  max-width: 28em;
}
#loginform fieldset:last-of-type button {
  background-color: #6168F3;
  border-radius: 0.5em;
  padding: 1em 2em;
  margin: 2em 0em 1em 0em;
  border: none;
  font-family: "Poppins", sans-serif;
  max-width: 19em;
  width: 100%;
  font-size: 1.5em;
  color: white;
  font-weight: 600;
  transition: 0.25s ease;
  cursor: pointer;
}
#loginform fieldset:last-of-type button:hover {
  background-color: #2d328f;
  transition: 0.25s ease;
}
#loginform fieldset:last-of-type label {
  color: #333334;
}
#loginform fieldset:last-of-type label a {
  color: #6168F3;
}

.main-navbar {
  background: #D5DCF0;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-radius: 1em 1em 0 0;
}
.main-navbar a .bg-icons {
  background-color: #D5DCF0;
  display: inline-block;
  justify-content: center;
  align-content: center;
  text-align: center;
  transition: 0.2s ease;
  border-radius: 2em;
  width: 3.5em;
  height: 3.5em;
}
.main-navbar a .bg-icons:hover {
  background-color: #6168F3;
}
.main-navbar a img {
  font-size: 2em;
  padding: 0.4em 0.3em 0.3em 0.3em;
  max-width: 1.5em;
}
.main-navbar a img:hover {
  filter: brightness(0) saturate(100%) invert(88%) sepia(92%) saturate(32%) hue-rotate(124deg) brightness(112%) contrast(107%);
}
.main-navbar .active {
  display: inline-block;
  background-color: #6168F3;
  justify-content: center;
  align-content: center;
  text-align: center;
  transition: 0.2s ease;
  border-radius: 2em;
  width: 3.5em;
  height: 3.5em;
}
.main-navbar .active img {
  filter: brightness(0) saturate(100%) invert(88%) sepia(92%) saturate(32%) hue-rotate(124deg) brightness(112%) contrast(107%);
}

.arrow {
  padding: 1.5em;
  width: 15em;
}
.arrow a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
}
.arrow a img {
  padding-right: 0.5em;
}

.Intro-signup {
  margin: auto;
  padding: 2em 3em 6em 3em;
  max-width: 30em;
  text-align: center;
  color: white;
  background: url("/static/images/dotsbg.svg") no-repeat 82% 11%;
}
.Intro-signup h1 {
  font-size: 2em;
  font-family: "Poppins", sans-serif;
}
.Intro-signup p {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
}

#signupform {
  margin: auto;
  max-width: 40em;
  display: grid;
  padding: 0em 1em;
  border: none;
  font-family: "Poppins", sans-serif;
}
#signupform fieldset:first-of-type {
  display: grid;
  border: none;
  margin: auto;
  width: 100%;
  max-width: 28em;
}
#signupform fieldset:first-of-type label {
  font-size: 1.5em;
  color: #333334;
  font-weight: 600;
  margin-top: 0.5em;
}
#signupform fieldset:first-of-type label a {
  text-decoration: none;
  color: #B8C0D7;
  text-align: right;
  font-size: 1em;
  display: block;
  margin-top: -0.5em;
  font-weight: 500;
}
#signupform fieldset:first-of-type label a:hover {
  color: #6168F3;
}
#signupform fieldset:first-of-type input {
  background-color: #F4F6FC;
  border-radius: 0.5em;
  padding: 1.5em 2em;
  margin: 1em 0em 1em 0em;
  font-family: "Poppins", sans-serif;
  max-width: 28em;
  width: 100%;
  font-size: 1em;
  color: black;
}
#signupform fieldset:first-of-type input::placeholder {
  color: #B8C0D7;
  opacity: 1;
  font-weight: 500;
}
#signupform input:not(:placeholder-shown) {
  border: 0.2em solid #63d64c;
}
#signupform input:placeholder-shown {
  border: 0.2em solid #B8C0D7;
}
#signupform fieldset:last-of-type {
  display: grid;
  border: none;
  text-align: center;
  margin: auto;
  width: 100%;
  max-width: 28em;
}
#signupform fieldset:last-of-type button {
  background-color: #6168F3;
  border-radius: 0.5em;
  padding: 1em 2em;
  margin: 2em 0em 4em 0em;
  border: none;
  font-family: "Poppins", sans-serif;
  max-width: 19em;
  width: 100%;
  font-size: 1.5em;
  color: white;
  font-weight: 600;
  transition: 0.25s ease;
  cursor: pointer;
}
#signupform fieldset:last-of-type button:hover {
  background-color: #2d328f;
  transition: 0.25s ease;
}
#signupform fieldset:last-of-type label {
  color: #333334;
  padding-left: 1em;
}
#signupform fieldset:last-of-type label a {
  color: #6168F3;
}

#terms {
  padding-top: 2em;
  padding-right: 1em;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  position: relative;
}

.checked {
  background-color: #8b0000;
}

.error {
  background-color: #2C3338;
}
.error main {
  padding: 1em;
  margin-top: 7vh;
  text-align: center;
  width: 100%;
}
.error main section {
  background: url(/static/images/ghostbg.svg) no-repeat 50% 14%;
  display: grid;
  text-align: center;
  justify-content: center;
  padding-top: 8em;
}
.error main section img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 2em;
  animation: floating 2s linear infinite;
}
.error main section h1 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 2em;
  padding-bottom: 0.5em;
}
.error main section p {
  font-family: "Poppins", sans-serif;
  opacity: 0.5;
  color: white;
  font-size: 1.5em;
  max-width: 13em;
  padding-bottom: 2em;
}
.error button {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  text-align: center;
  padding: 1em 2em;
  background-color: #6168F3;
  border-radius: 0.5em;
  max-width: 19em;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: 0.25s ease;
}
.error button:hover {
  background-color: #2d328f;
  transition: 0.25s ease;
}

@keyframes floating {
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(5px);
  }
  0% {
    transform: translateY(-10px);
  }
}
.profile-body #bg {
  clip-path: circle(54.4% at 50% 0);
  margin-top: -6em;
  background-color: #6168F3;
  width: 100%;
  height: 100%;
  max-height: 56em;
  position: absolute;
}
.profile-body #editform {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 40em;
  display: grid;
  padding: 0em 1em;
  border: none;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  transform: translateX(-100%);
  transition: 0.25s ease;
}
.profile-body #editform fieldset:first-of-type {
  display: grid;
  border: none;
  margin: auto;
  width: 100%;
  max-width: 28em;
}
.profile-body #editform fieldset:first-of-type label {
  font-size: 1.5em;
  color: #333334;
  font-weight: 600;
  margin-top: 0.5em;
}
.profile-body #editform fieldset:first-of-type label a {
  text-decoration: none;
  color: #B8C0D7;
  text-align: right;
  font-size: 1em;
  display: block;
  margin-top: -0.5em;
  font-weight: 500;
}
.profile-body #editform fieldset:first-of-type label a:hover {
  color: #6168F3;
}
.profile-body #editform fieldset:first-of-type input {
  background-color: #F4F6FC;
  border-radius: 0.5em;
  padding: 1.5em 2em;
  margin: 1em 0em 1em 0em;
  font-family: "Poppins", sans-serif;
  max-width: 28em;
  width: 100%;
  font-size: 1em;
  color: black;
}
.profile-body #editform fieldset:first-of-type input::placeholder {
  color: #B8C0D7;
  opacity: 1;
  font-weight: 500;
}
.profile-body #editform input:not(:placeholder-shown) {
  border: 0.2em solid #63d64c;
}
.profile-body #editform input:placeholder-shown {
  border: 0.2em solid #B8C0D7;
}
.profile-body #editform button:first-of-type {
  background-color: #6168F3;
  border-radius: 0.5em;
  padding: 1em 2em;
  margin: 2em 0em 1em 0em;
  border: none;
  font-family: "Poppins", sans-serif;
  max-width: 19em;
  width: 100%;
  font-size: 1.2em;
  color: white;
  font-weight: 600;
  transition: 0.25s ease;
  cursor: pointer;
}
.profile-body #editform button:first-of-type:hover {
  background-color: #2d328f;
  transition: 0.25s ease;
}
.profile-body #editform button:last-of-type {
  background-color: #98ade9;
  border-radius: 0.5em;
  padding: 1em 2em;
  margin: 2em 0em 1em 0em;
  border: none;
  font-family: "Poppins", sans-serif;
  max-width: 19em;
  width: 100%;
  font-size: 1.2em;
  color: white;
  font-weight: 600;
  transition: 0.25s ease;
  cursor: pointer;
}
.profile-body #editform button:last-of-type:hover {
  background-color: #2d328f;
  transition: 0.25s ease;
}
.profile-body main {
  display: grid;
  align-items: center;
  justify-content: center;
}
.profile-body main h1 {
  color: white;
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  padding-bottom: 1em;
  padding-top: 1em;
}
.profile-body main section:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4F6FC;
  max-width: 100%;
  height: 20em;
  border: 0.2em solid #B8C0D7;
  border-radius: 1em;
}
.profile-body main section:last-of-type div:first-of-type {
  display: inline;
}
.profile-body main section:last-of-type div:first-of-type h2 {
  color: #333334;
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0.2em;
  padding-top: 1em;
}
.profile-body main section:last-of-type div:first-of-type p {
  color: #333334;
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
}
.profile-body main section:last-of-type div:last-of-type h3 {
  color: #333334;
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0.2em;
  padding-top: 1em;
}
.profile-body main section:last-of-type div:last-of-type p {
  color: #333334;
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
}
.profile-body main button {
  background-color: #6168F3;
  border-radius: 0.5em;
  padding: 1em 2em;
  margin: 2em 0em 1em 0em;
  border: none;
  font-family: "Poppins", sans-serif;
  max-width: 19em;
  width: 100%;
  font-size: 1.5em;
  color: white;
  font-weight: 600;
  transition: 0.25s ease;
  cursor: pointer;
}
.profile-body main button:hover {
  background-color: #2d328f;
  transition: 0.25s ease;
}

.editOpen {
  transform: translateX(0%) !important;
}

/*# sourceMappingURL=app.css.map */
