<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/app.css">
    <title>Document</title>
</head>
<body class="error">
    <main>
        <section>
            <img src="../static/images/ghost.svg" alt="ghost illustration">
            <h1>Whoops!</h1>
            <p>We couldn't find the page you were looking for</p>
        </section>
        <a href="/login"><button>Go back</button></a>
    </main>
</body>
</html>