<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/app.css">
    <title>Document</title>
</head>
<body>
    <div id="bg"></div>

    <main>
        <section class="Intro">
            <h1>Hello there!</h1>
            <p>Welcome to Internow, login and let's get you started.
            </p>
        </section>

        <form action="/profile" method="post" id="loginform">

            <fieldset>

                <label for="name">Username</label>
                <input type="text" id="name" name="username" required placeholder="John Doe">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required placeholder="password">
                <label for="forgot"><a href="#">Forgot password?</a></label>
            </fieldset>

            <fieldset>
            <button id="btn" type="submit">Login</button>
            <label for="signuplink">Not a member? <a href="signup">Sign up now</a></label>
            <fieldset>
        </form>


    </main>
    <script src="../static/script.js"></script>
</body>
</html>