<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/app.css">
    <title>Document</title>
</head>
<body>
    <div id="bg"></div>

    <main>
        <section class="Intro">
            <h1>Hello there!</h1>
            <p>Welcome to Internow, login and let's get you started.
            </p>
        </section>

        <form action="/my-handling-form-page" method="post" id="loginform">

            <fieldset>
                <label for="email">Email</label>
                <input type="email" id="mail" name="user_email" required placeholder="user@email.com">
                <label for="password">Password</label>
                <input type="password" id="password" name="user_password" required placeholder="password">
            </fieldset>

            <fieldset>
            <button id="btn" type="submit">Login</button>
            <label for="terms">Not a member? <a href="#">Sign up now</a></label>
            <fieldset>
        </form>


    </main>
</body>
</html>