<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/app.css">
    <title>Document</title>
</head>
<body class="profile-body">
        <div id="bg"></div>

        <form class="editform" action="/edited-profile" method="post" id="editform">

            <fieldset>

                <label for="username">Username</label>
                <input type="text" id="name" name="username" placeholder="John Doe">

                <label for="email">Email</label>
                <input type="email" id="mail" name="email" placeholder="user@email.com">

                <button id="btn" type="submit">Confirm edited info</button>
                <button id="btn" type="button">Cancel</button>

            </fieldset>
        </form>
    <main>
        <h1>Welcome back Jane</h1>
        <section>
            <img src="../static/images/mountainimg.png" alt="filler image">
        </section>

        <section>
            <div><h2>Name:</h2><p>Jane Doe</p></div>
            <div><h3>Email:</h3><p>JaneDoe@gmail.com</p></div>
        </section>

        <button>edit info</button>
        {{> navbar}}
    </main>
        <script src="../static/script.js"></script>

</body>
</html>