<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="../static/css/app.css"> --}}
    <link rel="stylesheet" href="../static/css/app.css">
    <title>Document</title>
</head>
<body>
    <main>
        <section class="welcomescreen">
        <img src="../static/images/undraw_chatting_re_j55r.svg" alt="">
        <h1>Discover your dream internship</h1>
        <p>Explore awesome interships based on your interests and fields of study.</p>
        </section>

        <section class="buttons-section">
        <a class="btn btn-main" href="login">Login</a>
        <a class="btn btn-secondary"href="signup.html">Sign up</a>
        </section>
    </main>
</body>
</html>